#latestBuildsContainer {
  position:absolute;
  width:500px;
  height:400px;
  margin-top:20px;
}

#latestBuildsGraph {
  position:relative;
  margin-top:30px;
}

#latestBuildsTitle {
  position:absolute;
  margin-top:0px;
  width:500px;
  height:height:50px;
  font-size:30px;
  float:left;
}
