<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title></title>
    <script language="javascript" type="text/javascript" src="public/js/d3/d3.v3.js"></script>
    <script language="javascript" type="text/javascript" src="public/js/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="/overview">BuildBoard</a></h1>
      <h2>A temporary header!</h2>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      <p>An app for visualizing package build trends</p>
    </footer>
  </body>
</html>
