<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Board</title>
    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-2.0.3.min.map"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mtz.monthpicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="/js/d3.v3/d3.v3.js"></script>
    <script type="text/javascript" src="/js/overviewPackageSparkline.js"></script>
    <script type="text/javascript" src="/js/standardHistogram.js"></script>
    <script type="text/javascript" src="/js/standardLineGraph.js"></script>
    <script type="text/javascript" src="/js/commonGraphFunctions.js"></script>
    <script type="text/javascript" src="/js/commonFunctions.js"></script>
    <script type="text/javascript" src="/js/recentBuildsModal.js"></script>
    <script type="text/javascript" src="/js/historicalBuildLogModal.js"></script>
    <script type="text/javascript" src="/js/autoRefresh.js"></script>

    <link rel="stylesheet" media="screen"  href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/d3.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/overview.css" />
    <link rel="stylesheet" type="text/css" href="/css/packageType.css" />
    <link rel="stylesheet" type="text/css" href="/css/selection.css" />
    <link rel="stylesheet" type="text/css" href="/css/package.css" />
    <link rel="stylesheet" type="text/css" href="/css/users.css" />
    <link rel="stylesheet" type="text/css" href="/css/date.css" />
    <link rel="stylesheet" type="text/css" href="/css/toolTips.css" />
  </head>
  <body>

    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/overview"><img class='logoImage logoImageHeader' src="/img/puppetlabslogo.png" alt="Puppet Labs">Build Board</a>
          <ul class="nav">
            <li><a href="/package">Packages</a></li>
            <li><a href="/user">Users</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#summaries">
                Summaries
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class='dropdown-submenu'>
                  <a tabindex='-1' href="#">Package Types</a>
                  <ul class='dropdown-menu'>
                    <% @allPackageTypes.each do |type|%>
                      <li><a tabindex="-1" href="/summary/type/<%= type %>"><%= type %></a></li>
                    <% end %>
                  </ul>
                </li>
                <li class='dropdown-submenu'>
                  <a tabindex='-1' href="#">By Date</a>
                  <ul class='dropdown-menu'>
                    <li><a id='todayView' tabindex="-1" href='#'>Today</a></li>
                    <li><a id='thisMonthView' tabindex="-1" href='#'>This Month</a></li>
                    <li><a id='calendar' tabindex="-1" href='#'>Calendar</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a id='navBuildLog' href=#>Build Log</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href='#'>
                Settings
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class='dropdown-submenu'>
                  <a tabindex='-1' href="#">Auto Refresh</a>
                  <ul class='dropdown-menu'>
                    <li><a id='autorefOn' tabindex="-1" href='#'>On</a></li>
                    <li><a id='autorefOff' tabindex="-1" href='#'>Off<i id='autorefSet' class='icon-ok pull-right'></i></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="https://github.com/Whopper92/build-metrics-server/blob/master/README.md" target="_blank">Docs</a></li>
          </ul>
        </div> <!-- end of container -->
      </div>
    </div>
    <div class='main'>
      <%= yield %>
    </div>
    <div id='footer' class="navbar navbar-fixed-bottom">
      <div class='container'>
        <p class='muted credit'><img class='logoImage' src="/img/puppetlabslogo.png" alt="Puppet Labs">Puppet Labs Build Board</p>
      </div>
    </div>
  </body>
</html>

<script type='text/javascript'>
  $(document).ready(function() {
    $(function() {
      // Add JS interactive elements
      $('#navBuildLog').on('click', function() {
        createHistoricalBuildLogModal()
      })

      $('#thisMonthView').on('click', function() {
        var d = new Date();
        var month     = d.getMonth();
        var year      = d.getFullYear();
        var thisMonth = getMonthName(month)
        document.location.href='/date/month/' + thisMonth + '~' + year
      })

      $('#todayView').on('click', function() {
        var d         = new Date();
        var month     = d.getMonth();
        var day       = d.getDate();
        var year      = d.getFullYear();
        var thisMonth = getMonthName(month)
        document.location.href='/date/day/' + thisMonth + '~' + day + '~' + year
      })
    })

    $(function() {
      $( "#datepicker" ).datepicker();
      $('.monthpicker').monthpicker();
    });

    $('#calendar').on('click', function() {
      displayCalModal();
    })

    $(function() {
      var refStatus = getCookie('refresh')
      if(refStatus == 'true') {
        $('#autorefSet').remove()
        $('#autorefOn').append("<i id='autorefSet' class='icon-ok pull-right'></i>")
      } else {
        $('#autorefSet').remove()
        $('#autorefOff').append("<i id='autorefSet' class='icon-ok pull-right'></i>")
      }
    })

    $(function() {
    // Handle the autorefresh setting
     $('#autorefOn').on('click', function() {
       if( $('#autorefOn').children().length == 0) {
         $('#autorefSet').remove()
         $('#autorefOn').append("<i id='autorefSet' class='icon-ok pull-right'></i>")
         setCookie('refresh',true,20*365)
         autoRefresh()
       }
     })

     $('#autorefOff').on('click',function() {
       if( $('#autorefOff').children().length == 0) {
         $('#autorefSet').remove()
         $('#autorefOff').append("<i id='autorefSet' class='icon-ok pull-right'></i>")
         setCookie('refresh',false,20*365)
         autoRefresh()
      }
     })
    })

    // Check cookie value for autorefresh upon page load
    $(function() {
      autoRefresh()
    })
  })
</script>
