<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title></title>
    <script language="javascript" type="text/javascript" src="/js/d3.v3/d3.v3.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/packageLatestBuildsHisto.js"></script>
    <script language="javascript" type="text/javascript" src="/js/recentBuildsGraphic.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/d3.css" />
    <link rel="stylesheet" type="text/css" href="/style/general.css" />
    <link rel="stylesheet" type="text/css" href="/style/overview.css" />
    <link rel="stylesheet" type="text/css" href="/style/package.css" />
  </head>
  <body>
    <header>
      <img src="/images/puppetlabslogo.png" alt="Puppet Labs">
      <form action="http://dagr.delivery.puppetlabs.net:4567/overview">
        <input id='headerHomeButton' class='headerButton' type='submit' value='Build Board'>
      </form>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      <p>An app for visualizing package build trends</p>
    </footer>
  </body>
</html>
