<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Build Board</title>
    <script language="javascript" type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/d3.v3/d3.v3.js"></script>
    <script language="javascript" type="text/javascript" src="/js/packageLatestBuildsHisto.js"></script>
    <script language="javascript" type="text/javascript" src="/js/recentBuildsGraphic.js"></script>

    <link rel="stylesheet" media="screen"  href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/d3.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/overview.css" />
    <link rel="stylesheet" type="text/css" href="/css/package.css" />
  </head>
  <body>

    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/overview">Build Board</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/overview">Overview</a></li>
                <li><a href="#packages">Packages</a></li>
                <li><a href="#buildhosts">Build Hosts</a></li>
                <li><a href="#summaries">Summaries</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
    </div>

    <div class='main'>
      <%= yield %>
    </div>
  </body>
</html>
