<div id='latestBuildsContainer' class='metricContainer'>

  <p id='latestBuildsTitle'>Latest <%= params[:package].capitalize %> Builds</p>
  <div id='latestBuildsGraph'></div>
    <script type='text/javascript'>
      createLatestBuildsGraph(<%= @stats[:latest].to_json %>)
    </script>
  </div>
  <div id='latestBuildsToolTip' class='hidden histoTooltip'>
    <p><strong><span id='latestBuildsToolTipTitle'></span></strong></p>
  </div>
</div>
