<div class='row-fluid'>
  <div class='span6 contentContainer' style='min-width: 310px'>
    <div class='row-fluid'>
      <div class='span4' style='min-width: 310px'>
        <p> Woo! This div should never shrink past here!</p>
      </div>
      <div class='span4'>
        <p> Woo! This div should never shrink past here!</p>
      </div>
      <div class='span4'>
        <p> Woo! This div should never shrink past here!</p>
      </div>
    </div>
  </div>
  <div class='span3 contentContainer'>
    <p> This is some text in the second row, span4. Enjoy!</p>
  </div>
  <div class='span3 contentContainer'>
    <p> This is some text in the third row, span4. Enjoy!</p>
  </div>

</div>
