<!--
  packageSelection template
  Used for generating a list of packages for selection
-->

<div class='row-fluid'>
  <div id='selectionContainer' class='span6 offset3 contentContainer'>
    <div class='row-fluid'>
      <div id='selectionTitle' class='span6'>
        <h2>Select a User</h2>
      </div>
    </div>
    <div class='row-fluid'>
      <div id='selectionMain'>
        <div id='listContainer' class="container span12">
          <div class="row-fluid">
            <div class="span10 offset1">
              <ul id='list' class="nav nav-pills nav-stacked">
                <li class='active'><a href='overview'>Home</a></li>
                <% @allUsers.each do |user| %>
                  <li><a href='<%= "user/#{user.build_user}" %>'><%= user.build_user %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
