/* D3 Specific elements */

/* Axes and lines */

.axis path,
.axis line,
.xhistoAxis path,
.xhistoAxis line {
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
}

.grid .tick line {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

.invisAxis line,
.invisAxis text {
  display: none;
}

/* Histogram specific elements */

.histoBar:hover {
  cursor: pointer;
}

/* Tooltip elements */

.graphToolTip,
.tableModal,
.sideBarModal {
  position: absolute;
  z-index: 99999;
  width: 250px;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events:none;
}

.tableModal {
  width: 350px;
}

.sideBarModal {
  position: fixed;
  margin-right: 0;
  z-index: 99999;
  top: 40px;
  right: 0px;
  width: 500px;
  height: 700px;
}

.graphToolTip.hidden,
.tableModal.hiden {
  display: none;
}

.graphToolTip p,
.tableModal p {
  margin-left:5px;
  font-family: sans-serif;
  font-size: 18px;
}

.graphToolTip span,
.tableModal span {
  font-size: 14px;
}

.toolTipDesc {
  display: inline-block;
  font-size: 8px;
}
