/* D3 Specific elements */

/* Axes and lines */

.axis path,
.axis line,
.xhistoAxis path,
.xhistoAxis line {
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
}

.grid .tick line {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

.invisAxis line,
.invisAxis text {
  display: none;
}

/* Histogram specific elements */

.histoBar:hover {
  cursor: pointer;
}

/* Tooltip elements */

.histoToolTip {
  position: absolute;
  width: 250px;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events:none;
}

.histoToolTip.hidden {
  display: none;
}

.histoToolTip p {
  margin-left:10px;
  font-family: sans-serif;
  font-size: 14px;
}

.histoToolTip span,
.overviewToolTip span {
  font-size:18px;
}

.toolTipDesc {
  display: inline-block;
  font-size: 8px;
}
