/* Styling for date based views */

#monthBuildsContent {
  position: relative;
  margin-top: 50px;
  min-width: 1300px;
  height: 540px;
}

#monthFailedBuildsContent {
  margin-left: -60px;
}

#monthGeneralStatsContent {
  min-width: 1300px;
  margin-top: 25px;
  height: 560px;
}
