/* Generic Elements */

a     {font-family:sans-serif;}
p     {color:black;margin-left:20px;}
li    {color:white;font-family:serif;list-style-position:inside;}
h3, h4, h5 {color:#707070;}
table {height:92%;margin-top:-20px;}
tbody {height:80%;}
.table th, .table td {text-align:left;vertical-align:middle;cursor:pointer;}

html, body {
  height: 100%;
  background-color: #F0F0F0;
}

/* Navigation bar components */

.navbar .container {
  margin-left: 40px;
}

.logoImage {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  width: 35px;
  height: 30px;
}

.logoImageHeader {
  margin-top: 5px;
}

#footer {
  height: 30px;
  margin-top: 5px;
  background-color: #1b1b1b;
}

/* Generic structural elements */

.main {
  position: relative;
  margin: 40px auto 0px auto;
  width: 95%;
}

.contentContainer {
  background-color: white;
}

.hidden {
  display: none;
}

/* Buttons and widgets */

.btn-group {
  float: right;
}

.btn {
  border-radius: 40px;
}

.moreBtn {
  float: right;
  margin: 5px 5px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 40px;
}

/* SVG styling*/

circle {
  stroke: 0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

path {
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}



      <span class='span2 offset6'>
        <div class="btn-group">
          <button class="moreBtn btn btn-mini dropdown-toggle" data-toggle="dropdown" type="button"><i class="icon-wrench"></i></button>
          <ul class='dropdown-menu'>
            <li><a tabindex="-1" href="#">Action</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="moreBtn btn btn-mini dropdown-toggle" data-toggle="dropdown" type="button"><i class="icon-search"></i></button>
          <ul class='dropdown-menu'>
            <li><a tabindex="-1" href="#">Action</a></li>
          </ul>
        </div>
      </span>



