/* Generic Elements */

h1   {color:black;font-family:serif;}
h3   {color:black;font-family:serif;}
h5   {color:black;font-family:serif;}
p    {color:black;margin-left:20px;}
hr   {width:500;size:6;color:red;}
li   {color:white;font-family:serif;list-style-position:inside;}
.table th, .table td   {text-align:left;vertical-align:middle;}
.table tr { height: 60px; }

body {
  background-color: #F0F0F0;
}

svg {
  height: 25px;
  overflow: hidden;
}

circle {
  stroke: 0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 700px;
}

.basicBox {
  text-align: center;
  border-style: groove;
  border-width: 1px;
  border-color: #480000;
  background-color: white;
}

.contentContainer {
  background-color: white;
}

.contentColumnFull {
  margin-top: 20px;
  width: 35%;
  height: 95%;
}

.contentColumnHalf {
  width: 60%;
  height: 46%;
}

.contentLeft {
  float: left;
}

.contentRight {
  float: right;
  margin-right: 10px;
}

.contentBottom {
  margin-top: 20px;
}

.contentTop {
  margin-top: 20px;
}

.hidden {
  display: none;
}
