/* Generic Elements */

a     {font-family:sans-serif;}
p     {color:black;margin-left:20px;}
li    {color:white;font-family:serif;list-style-position:inside;}
h3, h4, h5 {color:#707070;}
table {height:94%;margin-top:-20px;}
tbody {height:100%;}
.table tr { height: 10%; }
.table th, .table td   {height:10%;text-align:left;vertical-align:middle;}

html, body {
  height: 100%;
  background-color: #F0F0F0;
}

.navbar .container {
  margin-left: 10px;
}

circle {
  stroke: 0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

path {
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

.main {
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 90%;
}

.basicBox {
  text-align: center;
  border-style: groove;
  border-width: 1px;
  border-color: #480000;
  background-color: white;
}

.contentContainer {
  background-color: white;
}

.contentColumnFull {
  margin-top: 20px;
  width: 35%;
  height: 95%;
}

.contentColumnWideHalf {
  width: 60%;
  height: 48%;
}

.contentColumnNarrowHalf {
  width: 40%;
  height: 48%;
}

.contentUpperLeft {
  position: absolute;
  left: 0;
  margin-top: 20px;
  margin-left: -10px;
}

.contentUpperRight {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: -10px;
}

.contentLowerLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 15px;
  margin-left: -10px;
}

.contentLowerRight {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 15px;
  margin-right: -10px;
}

.hidden {
  display: none;
}
