















#recentBuildsContainer {
  float:left;
  width:500px;
  height:400px;
  display:inline-block;
  margin-top:80px;
  margin-left:20px;
  border-width:1px;
  border-radius:0px;
}

#recentBuildsTitleBar {
  position:relative;
  width:100%;
  height:50px;
  border-bottom-style:groove;
  background: #e2e2e2;
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}

#recentBuildsTitleBar p {
  float: left;
  margin-top:0px;
  margin-left:40px;
  font-size:22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

#recentBuildsMoreButton {
  float:right;
  margin-right:20px;
  width:80px;
  height:25px;
  color:white;
  border-radius:5px;
  background: #1b3a60;
  background: -moz-linear-gradient(top,  #1b3a60 0%, #2c539e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b3a60), color-stop(100%,#2c539e));
  background: -webkit-linear-gradient(top,  #1b3a60 0%,#2c539e 100%);
  background: -o-linear-gradient(top,  #1b3a60 0%,#2c539e 100%);
  background: -ms-linear-gradient(top,  #1b3a60 0%,#2c539e 100%);
  background: linear-gradient(to bottom,  #1b3a60 0%,#2c539e 100%);
}

#recentBuildsMoreButton:hover {
  cursor:pointer;
}

#recentBuildsLegendBar {
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;
  border-top-style:groove;
}

#recentBuildsLegendBar p {
  margin-left:0;
  height:100%;
  font-style:italic;
  font-size:12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

#recentBuildsLegendSuccess {
  width:30px;
}

#recentBuildsLegendDist {
  width:80px;
}

#recentBuildsLegendPackage {
  width:100px;
}

#recentBuildsLegendTime {
  width:100px;
}

#recentBuildsLegendTrend {
  width:185px;
}

#recentBuild {
  position: relative;
  left:0;
  width:100%;
  height:16%;
  float:left;
  background-color:rgba(101, 156, 239, 0.1);
  border-bottom-style:groove;
  border-bottom-width:2px;
  cursor:pointer;
}

#recentBuild div {
  height:100%;
}

#recentBuildsSuccess {
  float:left;
  width:30px;
  -webkit-svg-shadow: 0 0 7px #53BE12;
}

#recentBuildsDist,
#recentBuildsBuildTime, p {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  letter-spacing: 1px;
}

#recentBuildsPackageName {
  text-shadow: 1px 3px 2px rgba(0,0,0,0.1);
  font-family: Gill Sans, Verdana;
}

#recentBuildsDist {
  float:left;
  width:80px;
  line-height:50px;
}

#recentBuildsPackageName {
  float:left;
  width:100px;
}

#recentBuildsBuildTime {
  float:left;
  width:100px;
  line-height:50px;
}

#recentBuildsSparkline {
  float:left;
  width:185px;
  display:inline-block;
}

#recentBuildsToolTipTitle {
  font-weight: bold;
  font-size:30px;
}

#moreInfoNote {
  margin-left:0px;
  font-size:12px;
  text-decoration:italic;
  color:#660066;
}
