/* Styling for the overview view */

/* General table styling */
th.result {width: 5%;}
th.dist {width: 15%;}
th.package {width: 25%;}
th.buildTime {width: 15%;}
th.trend {width: 30%;}

/* Modals and interactive elements */
#recentBuildsModal {
  width: 700px;
}

#recentBuildsModal .modal-body,
#packageSelectionModal .modal-body {
  max-height: 420px;
}

#recentBuildsModalTimeTable {
  margin-top: 10px;
}

#logModal {
  margin: -80px 0 0 -550px;
  width: 1100px;
}

#logModal .modal-body {
  max-height: 600px;
}

#packageSelectionNameCell {
  font-size: 18px;
  font-weight: bold;
}

/* General chart labels */
.yAxisLabel {
  float: left;
  margin: 200px 0px 0px -10px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

/* Recent build sparkline elements */
#recentBuildsContent {
  position: relative;
  min-width: 900px;
  height: 540px;
  margin: 25px 0 0 28px;
}

#resultCell {
 margin-top: 5px;
 height: 20px;
 overflow: hidden;
}

#recentBuildsModalTimeTable {
  width: 450px;
}

#recentBuildsModalLogButton {
  float: right;
  margin: -5px -10px 0 0;
}

.recentBuildsModalLabel {
  font-weight: bold;
}

/* Summary section elements*/
#summaryContent {
  min-width: 1300px;
  height: 540px;
  margin-top: 25px;
}

#summaryBuildNumber {
  min-width: 540px;
  margin-top: 10px;
}

#summaryBuildNumberContent {
  position: relative;
  top: -60px;
  left: -25px;
  margin-left: 30px;
}

#summaryBuildsYLabel {
  position: relative;
  top: 80px;
}

#summaryBuildsXLabel {
  position: relative;
  top: 470px;
  left: 38%;
}

#summaryBuildsLegend {
  position: relative;
  top: -100px;
  left: 400px;
  width: 80px;
  height: 40px;
  opacity: 0.6;
}

#summaryBuildsLegendTotal {
  height: 12px;
  margin-top: -30px;
  fill: steelblue;
}

#summaryBuildsLegendFailed {
  height: 12px;
  fill: #880000;
}

#summaryShipped {
  margin-top: 10px;
}

.summaryHalfChart {
  margin-top: 25px;
}

#summaryTables {
  min-width: 400px;
  margin-top: 10px;
}

#summaryFreqUsers {
  margin-top: 20%;
}

/* Team stats section elements */
#teamContent {
  min-width: 900px;
  height: 560px;
  margin: 25px 0 0 28px;
}
#teamBuildComparison,
#otherTeamSeries {
  margin-top: 15px;
}

#teamsBuildsXLabel {
  position: relative;
  top: 470px;
  left: 200px;
}

/* Metrics by package type section elements */
#typeContent {
  min-width: 1300px;
  height: 560px;
  margin-top: 25px;
}

#typeBuildNumber {
  display: inline-block;
  float: left;
  margin-top:15px;
}

#typeBuildNumberContent,
#typeBuildSpeedContent {
  margin-top: 5px;
}

#typeBuildSpeed {
  display: inline-block;
  margin-top: 15px;
}

#typeBuildHost {
  display: inline-block;
  min-width: 450px;
  margin-top: 15px;
  margin-left: -25px;
}

.typeChartContent {
  margin-top: -15px;
}

#freqHostTable {
  height: 400px;
  margin-top: 25px;
}

.freqHostTableHead {
  font-size: 12px;
}

#freqHostPercentRow {
  text-align: center;
}
