th.result {
  width: 5%;
}

th.dist {
  width: 15%;
}

th.package {
  width: 25%;
}

th.buildTime {
  width: 10%;
}

th.trend {
 width: 45%;
}

#recentBuildsTitle {
  margin-top: -15px;
  margin-left: 10px;
}

#resultCell {
 height: 25px;
 overflow: hidden;
}
