/* Styling for the package type dashboard view */

#recentBuildsContent {
  position: relative;
  min-width: 900px;
  height: 540px;
  margin: 25px 0 0 28px;
}

#typeSummaryContent {
  min-width: 1300px;
  height: 540px;
  margin-top: 25px;
}

#typeSummaryBuildContent,
#typeSummarySpeedContent,
#typeDistSpeedContent,
#typeDistFailureContent {
  margin-top: 10px;
}

#typeSummaryHostContent {
  margin: 10px 0 0 0;
}

#typeDistSpeed {
  margin-left: -10px;
}

#typeDistFailure {
  margin-left: 30px;
}

#typeSummaryAvgSpeed {
  margin-left: -20px;
}

#generalStatsContent {
  min-width: 900px;
  height: 560px;
  margin: 25px 0 0 28px;
}

#distContent {
  min-width: 1300px;
  height: 560px;
  margin-top: 25px;
}

.yAxisPushLeft {
  margin-left: -10px;
}

#typeDistFailureYAxis {
  margin-left: -60px;
}

.generalStatsTable {
  margin-top: 30px;
}

.generalStatsTable td {
  vertical-align: center;
  height: 150px;
}

.generalStatsTableLabel {
  font-size: 14px;
  font-weight: bold;
}

.generalStatsTableCell {
  font-size: 40px;
}

#generalStatsTableLeft {
  margin-left: 10px;
}

#generalStatsTableRight {
  margin-left: -10px;
}

#generalStatsTotalBuildsCell {
  color: steelblue;
}


#generalStatsFailureCell {
  color: #600000;
}
