#buildStatsContent {
  min-width: 1300px;
  height: 560px;
  margin-top: 25px;
}

#packageSummaryBuildContent {
  margin-top: 20px;
}

#packageSummaryFreqHostsContent {
  margin-top: 40px;
}

#buildStatsSpeed {
  margin-left: -5px;
}


#buildStatsSpeedContent {
  margin-top: 10px;
}

#buildStatsFailure {
  margin-left: -5px;
}

#buildStatsFailureContent {
  margin-top: 10px;
}

