#packageSelectionContainer {
  margin-top: 20px;
}

#packageSelectionTitle {
  margin-left: 10px;
}

#packageSelectionMain {
  margin-top: 10px;
}

.packageSelectionTable {
  margin-top: 0px;
}

#packageSelectionCell {
  font-size: 24px;
  font-weight: bold;
}
