/* Styling for multi-purpose tooltips and modals */
.popover {
  max-width: 400px;
  width: 400px;
}

#recentBuildsModal {
  width: 700px;
}

#recentBuildsModal .modal-body,
#packageSelectionModal .modal-body {
  max-height: 380px;
}

#recentBuildsModalTimeTable {
  margin-top: 10px;
}

#logModal {
  margin: -80px 0 0 -550px;
  width: 1100px;
}

#logModal .modal-body {
  max-height: 600px;
}

#packageSelectionNameCell {
  font-size: 18px;
  font-weight: bold;
}

#histLogModal {
  margin: -70px 0 0 -450px;
  width: 900px;
}

#histLogModal .modal-body {
  max-height: 600px;
}

#histLogTable {
  cursor: auto;
}

#histLogTable .date {
  width: 20%;
}

#histLogTable .user {
  width: 10%;
}

#histLogTable .package {
  width: 20%;
}

#histLogTable .dist {
  width: 10%;
}

#histLogTable .buildTime {
  width: 10%;
}

#histNextButtons {
  margin-left: -10px;
}

#pageSelectButton {
  margin-top: -10px;
}

#monthPickButton {
  margin-left: 80px;
}
